<%= link_to "Nova importação", pessoas_path %>

<h1>Resumo</h1>
<%= flash[:notice] %>
<br>
<br>
Qtd registros: <%= @response[:total] %><br/>
Receita bruta total: <%= @response[:receita] %>
<br>

<table>
  <thead>
  <th>Comprador</th>
  <th>Descrição</th>
  <th>Preço R$</th>
  <th>Quantidade</th>
  <th>Endereço</th>
  <th>Fornecedor</th>
  </thead>
  <% @pessoas.each do |pessoa| %>
    <tr>
      <td><%= pessoa.comprador %></td>
      <td><%= pessoa.descricao %></td>
      <td><%= pessoa.preco %></td>
      <td><%= pessoa.quantidade %></td>
      <td><%= pessoa.endereco %></td>
      <td><%= pessoa.fornecedor %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @pessoas %>