<div class="card">
  <div class="card-body">
    <h5 class="card-title">Resumo</h5>

    <%= link_to "Nova importação", pessoas_path, class: 'btn btn-sm btn-success btn-novo' %>

    <% if flash[:notice].present? %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Quantidade de registros contidas no lote
        <span class="badge badge-primary badge-pill"><%= @response[:total] %></span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Receita bruta total
        <span class="badge badge-primary badge-pill"><%= number_to_currency(@response[:receita], :unit => "R$ ") %></span>
      </li>
    </ul>

    <table class="table table-striped">
      <thead>
      <th>Comprador</th>
      <th>Descrição</th>
      <th>Preço</th>
      <th>Quantidade</th>
      <th>Endereço</th>
      <th>Fornecedor</th>
      </thead>
      <% @pessoas.each do |pessoa| %>
        <tr>
          <td><%= pessoa.comprador %></td>
          <td><%= pessoa.descricao %></td>
          <td class="text-align-right">
            <span class="badge badge-light"><%= number_to_currency(pessoa.preco, :unit => "R$ ") %></span>
          </td>
          <td class="text-align-center">
            <span class="badge badge-info"><%= pessoa.quantidade %></span>
          </td>
          <td><%= pessoa.endereco %></td>
          <td><%= pessoa.fornecedor %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>